body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#environment {
    width: 80%;
    max-width: 800px;
    height: 50vh;
    background-color: #333;
    border: 3px solid #555;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.5s ease;
}


#character {
    width: 50px;
    height: 50px;
    background-color: #ffcc00;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
}


#startButton {
    padding: 10px 20px;
    font-size: 18px;
}

#recalibButton{
    padding :10px 20px;
    font-size:18px;
    
}

canvas {
    border: 3px solid #555;
    border-radius: 10px;
    background-color: #333;
}